---
title: My project
---

<div class="banner text-center" style = "background-image: url('images/background.jpg')">
      <div class="banner-shadow"></div>
        <div class="banner-text fadeInAndSlideDown">
        <h1>Startup tools</h1>
        <h2>Very cool stuff, useful and smart</h2>
        <%= link_to "GET IT", "#", class:"my-btn btn-info" %>
      </div>
    </div>
    <div class="top-padded">
      <div class="container">
        <div class="row">
          <% data.features.each do |feature| %>
            <div class="col-xs-12 col-md-3">
              <div class="features">
                <h3><%= image_tag feature.picture %><%= feature.title %></h3>
                <p><%= feature.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="top-padded">
      <h2 class="section-header text-center">Most Popular</h2>
      <div class="container">
        <div class="row">
          <% data.products.each do |product| %>
          <div class="col-xs-12 col-md-4">
              <div class="card" data-sr="ease-in-out 100px, over 1.5s">
                <div id="card-label">
                  <p><%= product.label %></p>
                </div>
                <div id="card-text">
                  <% link_to "" do %>
                    <h3><%= product.name %></h3>
                    <p><%= product.description %></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="newsletter text-center top-padded">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get stylus news</p>
      <form class="form-inline">
        <input type="email" class="form-control" placeholder="alice@lewagon.org">
        <button type="submit" class="my-btn btn-info">Suscribe</button>
    </div>
    <div class="map top-padded">
      <div id="map" style="width: 100%; height: 400px;"></div>

      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

      <script type="text/javascript">
      var myLatlng = new google.maps.LatLng(48.852937,2.364178);

      var myOptions = {
        zoom: 16,
        center: myLatlng,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}] // TODO: replace [] by array from https://snazzymaps.com/
      };

      var map = new google.maps.Map(document.getElementById('map'), myOptions);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: "You are here!"
      });
      </script>
      <script src='/js/scrollReveal.min.js'></script>
      <script>
        window.sr = new scrollReveal();
      </script>
    </div>
